header {
    border: solid 1px black;
    height: 2em;
}

#left-side{
    border: solid 1px black;
    height: 20em;
    /* float: left; */
    
}

#center{
    border: solid 1px black;
    height: 20em;
    /* float: left; */

}

#right-side{
    border: solid 1px black;
    height: 20em;
    /* float: left; */

}

main {
    display: inline;
}

footer {
    position: relative;
    bottom: 0;
    border: solid 1px black;
    height: 2em;
}